/* -----RESET----- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -----END RESET----- */

* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.main {
  width: 100vw;
  height: 100vh;
}

.main,
#left-container div {
  display: flex;
  flex-flow: row wrap;;
}

#left-container {
  background-image: url(./images/sample_background.jpg);
  background-position: center;
  background-size: 100vh;
  background-repeat: no-repeat;
  width: 40vw;
}

#left-container div {
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 20vh;
  gap: 1vw;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}

#left-container h1 {
  color: #ffffff;
}

#left-container img {
  height: 10vh;
}

#left-container p {
  position: absolute;
  bottom: 1vh;
}